<html>
{{#each foo}}
{{this}}
{{/each}}
	<h1>Weaknesses</h1>
	<div class="row">
		<div class = "col l10 m10 s12">
			<p class = "intro-paragraph">Monsters are by nature quite tough and resilient, but some monsters have developed weaknesses due to traumatic childhood memories. Many monsters work hard to better themselves and overcome their weaknesses. Therefore weakness relationships can be deleted when appropriate.</p>
		</div>
	</div>

    <h2>Current weaknesses</h2>
    <div class = "row">
    	<div class="col l6 m6 s12">
		    <table>
		        <thead> 
		            <th>Weakness name</th> 
		        </thead> 
			    <tbody>
			        {{#each weaknesses}} 
			        <tr> 
			            <td>{{weakness}}</td> 
			        </tr> 
			        {{/each}} 
			    </tbody> 
		    </table> 
		</div>
	</div>

	<h2>Add a new weakness</h2>
    <div class="row">
	    <form class="add-form col l10 m10 s12" id="addweakness" action="/weaknesses/add" method="post">
	    	<div class="row">
	    		<div class="input-field col l6 m6 s12">
				    <b>Weakness name:</b>
				    <input type="text" name="name">
				</div>
			</div>
		    <input class="btn form-btn" type="submit" value="Add weakness">
	 	</form>
	</div>

	<h2>Which monsters have which weaknesses?</h2>
	<div class = "row">
    	<div class="col l8 m8 s12">
    		<table>
    			<thead>
    				<th>Monster name</th>
    				<th>Weakness</th>
    			</thead>
    			<tbody>
    				{{#each monsters_with_weaknesses}} 
			        <tr> 
			            <td>{{monster}}</td> 
			            <td>{{weakness}}</td> 
			            <td><button class="btn-small" onclick="deleteMonsterWeakness({{monster_id}},{{weakness_id}})">REMOVE</button></td>
			        </tr> 
			        {{else}}
        			<b> No monsters with weaknesses were found! Resilient bunch. </b>
        			{{/each}}
    			</tbody>
    		</table>
    	</div>
    </div>

    <h2>Add a new monster/weakness association</h2>
    <div class="row">
	    <form class="add-form col l10 m10 s12" id="add_monsters_weaknesses" action="/weaknesses/addRelationship" method="post">
	    	<div class="row">
	    		<div class="input-field col l6 m6 s12">
				    <b>Monster:</b>
				    <select class="browser-default" name="monster"> 
					    {{#each monsters}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="input-field col l6 m6 s12">
				    <b>Weakness:</b>
				    <select class="browser-default" name="weakness"> 
					    {{#each weaknesses}}
							<option value="{{id}}">{{weakness}}</option>
						{{/each}}
					</select>
				</div>
			</div>
		    <input class="btn form-btn" type="submit" value="SUBMIT">
	 	</form>
	</div>


</html>